@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Nunito:wght@300;500&family=Philosopher&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{

   /*fonts*/
   --FONT_1:Michroma;
   --FONT_2:Cinzel;
   --FONT_3:nunito;
   --FONT_4:Philosopher;
   
   /*color*/
    --FONT_COL1:whitesmoke;
    --BOD-COL:rgb(22, 231, 22);
    --LIN-GRAD:linear-gradient(45deg,rgb(98, 238, 98),rgb(33, 247, 33));
    --BOD_COL2:rgba(24, 52, 119, 0.611);
    --BOD_COL3:#001533;

}

header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--BOD-COL);
}

header video{
   position: relative;
   width: 100vw;
   height: auto;
   top: 0;
   bottom: 0;
   overflow: hidden;
}


.hero_sec{
   position: fixed;
   top: 0;
   width: 100vw;
   display: flex;
   flex-flow:row wrap ;
   justify-content: space-between ;
   align-items: center;
   padding: 2rem;
   animation: fade_in 3s ease-in-out 0.1s forwards;
   z-index: 2;
}

.hero_sec .title{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

.hero_sec .title img{
    border-right: 2px solid var(--BOD-COL);
    padding: 1px;
}

.hero_sec .title img,.navig img{
    display: block;
    width: 8vmin;
    height: auto;
    position: relative;
}

.navig img{
    width: 5vmin;
    height: auto;
}

.title h1{
   font-size: max(0.8vmin,4vmin);
   font-family: var(--FONT_1);
   color: var(--FONT_COL1);
   padding: 2px;
}

.navig{
    display: flex;
    align-items: center;
    font-family: var(--FONT_3);
    color: var(--FONT_COL1);
}

.navig ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.navig ul li{
    margin-inline: 3vmin;
    padding: 1vmin;
    
}

.navig ul li a{
    text-decoration: none;
    color: inherit;
}

.navig ul li:hover{
    border: 0.2px solid var(--BOD-COL);
    border-radius: 20px;
    background-image: var(--LIN-GRAD);
}

.nowrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


.menu_bar{
    display: none;
    width: 48px;
    height: 48px;
    position: relative;
    background-color: transparent;
    border: none;
}

.menu,.menu::after,.menu::before{
    width: 40px;
    height: 5px;
    background-color: var(--BOD-COL);
    border-radius: 10px;
    transition: all 0.5s;
}

.menu::after,.menu::before{
    content: '';
}

.menu::before{
   position: absolute;
   transform: translate(-20px,-10px);
}

.menu::after{
    position: absolute;
    transform: translate(-20px,10px);
}

:is(.menu_bar:hover,.menu:hover) .menu::before{
     transform: translateX(-20px) rotate(45deg);
}

:is(.menu_bar:hover,.menu:hover) .menu{
     background-color: transparent;
}

:is(.menu_bar:hover,.menu:hover) .menu::after{
     transform: translateX(-20px) rotate(-45deg);
}

.menu ul{
    display: none;
    list-style-type: none;
    color: var(--BOD-COL);
    background-color: var(--BOD_COL2);
    border: 1px solid var(--BOD-COL);
    border-radius: 20px;
    position: absolute;
    top: 100%;
    right: 3vmin;
    font-family: var(--FONT_3);
    color:var(--BOD-COL);
    width: 30vmin;
}

.menu ul li{
    padding: 2vmin;
    border-top: 0.2px solid var(--BOD-COL);
}

.menu ul li:first-child{
    border-top: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu ul li:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: inherit;
}

.menu ul li:hover{
    background-image: var(--LIN-GRAD);
    color: var(--BOD_COL2);
}

:is(.menu_bar:hover,.menu:hover) .menu ul{
    display: block;
}


@media screen and (max-width:1090px) {
     .menu_bar{
        display: block;
     }

     .navig{
        display: none;
     }
}


@keyframes fade_in {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/*<--------------- End of Head Style ---------------->*/




body{
    background-color: var(--BOD_COL3);
}

main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.card{
    margin: 5rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px  10px var(--BOD-COL) inset;
    border-radius: 30px;
    overflow: hidden;
    width: 90vw;
}

.card figure{
    position: relative;
}

.card img{
    display: block;
    width: 80%;
    height: auto;
    margin:2rem;
    border-radius:30px;
    overflow: hidden;
}

.card_scr{
    display: flex;
    flex-flow: column nowrap;
    font-size: max(1rem,1.5rem);
    width: max(220px,600px); 
    margin:1rem;
    font-family: var(--FONT_3);
    color: var(--FONT_COL1);
    align-self: center;
}

.card_scr h2{
    color: var(--BOD-COL);
}