@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Nunito:wght@300;500&family=Philosopher&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{

   /*fonts*/
   --FONT_1:Michroma;
   --FONT_2:Cinzel;
   --FONT_3:nunito;
   --FONT_4:Philosopher;
   
   /*color*/
    --FONT_COL1:whitesmoke;
    --BOD-COL:rgb(22, 231, 22);
    --LIN-GRAD:linear-gradient(180deg,#001533c9 45%,rgba(0, 21, 51, 0.608),rgba(0, 21, 51, 0.482));
    --LIN-GRAD2:linear-gradient(45deg,rgba(30, 247, 30, 0.637),rgb(33, 244, 33));
    --LIN-GRAD3:linear-gradient(to right,rgba(47, 246, 47, 0.518),rgba(51, 241, 51, 0.337));
    --BOD_COL2:rgba(24, 52, 119, 0.611);
    --BOD_COL3:#001533;
    --TRANS-BODCOL:rgba(0, 21, 51, 0.775);

}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    background-color: var(--BOD_COL3);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--BOD-COL);
    border-radius: 10rem;
}

.nowrap{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;
}
header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--BOD-COL);
    height:min(32vh,59vh);
    overflow: hidden;

}

 header video{
    position:relative;
    width:100vw;
    height:auto;
    top: -10rem;
    bottom:0;
}

.head_sec{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-flow:row wrap ;
    justify-content: space-between ;
    align-items: center;
    padding: 2rem;
    animation: fade_in 3s ease-in-out 0.1s forwards;
    z-index: 2;
    background-image:var(--LIN-GRAD);
 }
 
 .head_sec .title{
     display: flex;
     flex-flow: row wrap;
     width: auto;
     justify-content: space-around;
     align-items: center;
 }
 
 .head_sec .title img{
     border-right: 2px solid var(--BOD-COL);
     padding: 1px;
 }
 
 .head_sec .title img,.navig img{
     display: block;
     width: 8vmin;
     height: auto;
     position: relative;
 }
 
 .navig img{
     width: 5vmin;
     height: auto;
 }
 
 .title h1{
    font-size: max(0.8vmin,4vmin);
    font-family: var(--FONT_1);
    color: var(--FONT_COL1);
    padding: 2px;
 }
 
 .navig{
     display: flex;
     align-items: center;
     font-family: var(--FONT_3);
     color: var(--FONT_COL1);
 }
 
 .navig ul{
     list-style-type: none;
     display: flex;
     flex-flow: row wrap;
     align-items: center;
 }
 
 .navig ul li{
     margin-inline: 3vmin;
     padding: 1vmin;
     
 }
 
 .navig ul li a{
     text-decoration: none;
     color: inherit;
 }
 
 .navig ul li:hover{
     border: 0.2px solid var(--BOD-COL);
     border-radius: 20px;
     background-image: var(--LIN-GRAD2);
 }
 
 .nowrap{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: nowrap;
 }
 
 
 .menu_bar{
     display: none;
     width: 48px;
     height: 48px;
     position: relative;
     background-color: transparent;
     border: none;
 }
 
 .menu,.menu::after,.menu::before{
     width: 40px;
     height: 5px;
     background-color: var(--BOD-COL);
     border-radius: 10px;
     transition: all 0.5s;
 }
 
 .menu::after,.menu::before{
     content: '';
 }
 
 .menu::before{
    position: absolute;
    transform: translate(-20px,-10px);
 }
 
 .menu::after{
     position: absolute;
     transform: translate(-20px,10px);
 }
 
 :is(.menu_bar:hover,.menu:hover) .menu::before{
      transform: translateX(-20px) rotate(45deg);
 }
 
 :is(.menu_bar:hover,.menu:hover) .menu{
      background-color: transparent;
 }
 
 :is(.menu_bar:hover,.menu:hover) .menu::after{
      transform: translateX(-20px) rotate(-45deg);
 }
 
 .menu ul{
     display: none;
     list-style-type: none;
     color: var(--BOD-COL);
     background-color: var(--BOD_COL2);
     border: 1px solid var(--BOD-COL);
     border-radius: 20px;
     position: absolute;
     top: 100%;
     right: 3vmin;
     font-family: var(--FONT_3);
     color:var(--BOD-COL);
     width: 30vmin;
 }
 
 .menu ul li{
     padding: 2vmin;
     border-top: 0.2px solid var(--BOD-COL);
 }
 
 .menu ul li:first-child{
     border-top: none;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
 }
 
 .menu ul li:last-child{
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
 }
 
 .menu ul li a{
     text-decoration: none;
     color: inherit;
 }
 
 .menu ul li:hover{
     background-image: var(--LIN-GRAD2);
     color: var(--BOD_COL2);
 }
 
 :is(.menu_bar:hover,.menu:hover) .menu ul{
     display: block;
 }
 
 
 @media screen and (max-width:1090px) {
      .menu_bar{
         display: block;
      }
 
      .navig{
         display: none;
      }

      header video{
        top: 0;
      }
 }
 
 
 @keyframes fade_in {
     0%{
         opacity: 0;
     }
 
     100%{
         opacity: 1;
     }
 }
/*<------------- end of header---------------->*/
 main{
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items: center;
    background-color: var(--BOD_COL3);
    font-family: var(--FONT_3);
 }
 

 .form_des{
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid var(--ALT-COLOR);
    border-radius: 15px;
    width: 300px;
    height: max(400px,auto);
    scroll-margin-top:150px ;
    background-image: var(--LIN-GRAD2);
    box-shadow: 0 0 20px var(--BOD_COL3)inset;
    margin:5rem 1rem;
    align-items: center;

}



.form_flex{
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    font-size: 1.2rem;
}

.form_flex input[type='text'],input[type='password'],#out,#email,#age {
    background-color: var(--BOD_COL3);
    border: 0.3px solid var(--BOD_COL3);
    border-radius: 20px;
    color: var(--BOD-COL);
    padding: 0.3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}

.buttons input[type='submit'],input[type='reset']{
    background-color: var(--BOD_COL3);
    border: 0.2px solid var(--BOD-COL);
    font-family: inherit;
    border-radius: 15px;
    color: var(--BOD-COL);
    font-size: 1rem;
    padding: 0.2rem;
    width: 5rem;
} 


.buttons input[type='submit']:hover,input[type='reset']:hover{
    box-shadow: 0px 2px 2px 2px var(--ALT-COLOR);
    
}
#create{
    border: none;
    background-color: transparent;
    color: var(--BOD-COL3);
    margin: 0.3rem;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
}
#oname,#opass,#ropass,#roname{
    margin: 1rem 0rem;
    display: none;
    color: crimson;
}

#signup{
    display: none;
}

input[type='radio']{
    background-color: transparent;
    margin-inline: 0.2rem;
}

/*<-------------- main end------------------->*/

footer{
    font-family: var(--FONT_4);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column nowrap;
    background: var(--BOD-COL);
    color: var(--FONT_COL1);
    padding: 2rem;
}

/*<--------------style for shop⬇️----------------->*/

#shop_head{
    background-image: url('img/grocery.jpg');
    background-size: cover;
    background-position-y: center;
}


.shop_menu{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0rem;
}

.scroll_menu{
  display: flex;
  width: 90vw;
  height: auto;
  overflow: scroll;
  scroll-behavior: smooth;
  margin-top: 0.5rem;

  border-left: 3px solid var(--BOD-COL) ;
  border-right: 3px solid var(--BOD-COL) ;

}




.scroll_l,.scroll_r{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    margin-inline:3rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px var(--BOD-COL);
}

.scroll_l:active,.scroll_r:active{
    box-shadow: 0px 0px 5px var(--BOD_COL3) inset;
}

:is(.scroll_l,.scroll_r) img{
    display: block;
    width: 100%;
    height: auto;
    padding: 0.5rem;
}

 .shop_menu h1{
    font-size: 2rem;
    color: var(--BOD-COL);
    text-decoration: underline;

}
.scroll_menu::-webkit-scrollbar{
    display: none;
}



.shop_card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 0px 20px var(--BOD-COL);
    position: relative;
    margin:1rem 2rem;
    width: 25vw;
    height: auto;
    color: var(--FONT_COL1);
    border-radius: 30px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px var(--BOD-COL) ;
}

.shop_card:hover{
    animation: enlarge 0.5s ease-in-out 0.1s normal forwards;
}

.card_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-flow: row wrap;
}

.scard_img{
    position: relative;
    width: max(400px,60%);
    height: auto;
    border-radius: 20px;
}

.scard_img img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.scard_info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
    z-index: 2;
}

.cart_btns{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0rem;
}
.cart_men{
    display: flex;
    flex-flow: column nowrap;
    margin-inline: 1rem;
}

.adcrt{
    background: var(--BOD-COL);
    color: var(--BOD_COL3);
    font-family: inherit;
    border:none;
    padding:0.2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--BOD-COL);
}


.cart_bt{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin-inline: 0.2rem;
    border-radius: 50%;
    box-shadow: 0px 0px 8px var(--BOD-COL);
}

.adcrt:active,.cart_bt:active{
    box-shadow: 0px 0px 5px var(--BOD_COL3) inset;
}

.cart_bt img{
    display: block;
    width:100%;
    height: min(auto,400px);
}

@media screen and (max-width:1499px) {
    .card_wrap{
        flex-flow: row wrap;
        align-self: center;
    }

}

 @media screen and (max-width:768px) {
    .scard_img img{
        width:min(420px,800px);
        height: 300px;
    }
}


@media screen and (max-width:819px) {
     .shop_card{
        width: 80vw;
     }

}


@media screen and (max-width:387px) {
     .shop_card{
        justify-content: center;
        align-items: center;
     }

}



@media screen and (max-width:357px) {
    .menu ul{
        left: 4vmin;
    }

} 

@keyframes enlarge {
 
    100%{
        
        box-shadow: 0px 0px 25px var(--BOD-COL);
    }
}

/*<----------------sevice css------------------->*/

#serv_head{
    background-image: url('img/service.jpg');
    background-position-y:center ;
    background-size: cover;
}


.serv_slide{
    width: 70vw;
    display: flex;
    align-items: center;
    overflow: auto;
    height: auto;
    margin: 1rem;
    border-radius: 30px;
    box-shadow: 0px 0px 30px var(--BOD-COL);
}

.serv_slide::-webkit-scrollbar{
    display: none;
}

.serv_card{
    width: 100%;
    flex-shrink: 0;
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.servscr_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: baseline;
    padding: 1rem;
}

.servscr_btn button{
    background-color: var(--TRANS-BODCOL);
    border: none;
    border-radius: 50%;
    height:50px;
    width: 50px;
}

.servscr_btn button:hover{
    background-color: var(--BOD_COL3);
}

.servscr_btn img{
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem;
}

#serv_1{
    background-image: url('img/edufarm.jpg');
    background-size: cover;
    background-position:center ;
    
}
#serv_2{
    background-image: url('img/research.jpg');
    background-size: cover;
    background-position:center ;
}

#serv_3{
    background-image: url('img/grocery.jpg');
    background-size: cover;
    background-position: center;
}

.serv_info{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--TRANS-BODCOL);
    color: var(--FONT_COL1);
    width: 80%;
    align-self: center;
    bottom: 0;
    margin-top: min(3rem,5rem);
    border-radius: 20px;
    padding:1rem;
}

