*{
    background:papayawhip;
    margin:0rem;
    padding: 0rem;
    box-sizing:content-box;
    height: max-content;
}

.head_container{
   text-transform: uppercase;
   border: 10px double rgb(155, 4, 4);
   border-radius: 5px;
   margin:1.5rem 2rem;
   padding:2rem 2rem;
   text-align: center;

}

.main_container{
     font-size: 2rem;
     /* border: 6px ridge maroon; */
     border-radius: 5px;
     margin: 1.5rem 1.5rem;
     padding: 1.3rem 1.6rem;
}

.foot_content{
    background: hsl(2, 100%, 92%);
}

.foot_container{
       background: hsl(2, 100%, 92%);
       font-size: 1.5rem;
       font-style: monospace;
       /* border: 7px ridge rgb(214, 49, 3); */
       /*   border-radius: 14px; */
        height: 10rem; 
       padding: 2rem 2rem; 
       margin:0rem 0rem;
      text-align: center;
      text-transform: capitalize;
      /* color: aliceblue; */
      opacity: 0.75;
}


abbr{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;

}
/*element:pseudoclass
pseudo class refers to the current state and position of the element by referring to ther pseudo class we can change the way the element look at that particular state*/


a:visited{
    color:rgb(68, 67, 67);
}


a:hover,a:focus{
    color:steelblue;
    text-decoration: underline;
}


a:active{
    color: maroon;
}
