html{
    font-family:'open-sans' ,sans-serif;
}

header{
  background-color:teal;
  color:white;
  text-align:center;
}

main{
  background-color:#006666;
  border:2px solid black;
  border-radius:7px;
  text-align:center;

}


form{
  position :relative;
  margin-left:37%;
  margin-right:50%;
  width:400px;
  background-color:#336699;
  border:2px solid black;
  border-radius:5px;
}

footer{
  background-color:#006699;
  color:white;
  text-align:center;
}
