body{
    background-color:peachpuff;
}


.head_container{
font-family: 'open-sans',sans-serif;
font-size: 2rem;
border:10px double maroon;
margin: 1.5rem 1.5rem ;
padding: 1.5em 2rem;
text-align: center;

}

.container{    /*this is a class we can use it in html scr code,I used it for both header and main*/
font-family: 'open-sans',sans-serif;
font-size: 2rem;
border:10px double maroon;
margin: 1.5rem 1.5rem ;            /*you can see without the margin property the border are coinciding each other give space between eachother we use margin */

padding: 1.5em 2rem; /*you can see ,by adding the padding the distance between the main element and the border is increasing*/

}

.foot_container{          /*This is a class, I used it for footer*/
    border: 5px ridge #333;
    font-family:'Fira code';
    margin-left: 1.5rem;
    margin-right: 2rem;
   /*rather tan aboove cokde we can use margin:0rem 2rem 0rem 1.5rem*/

    text-align: center;
}